<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>struts2</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>uploadPictureUrlDisk</param-name>
    <param-value>D:\Java_Project\ChuangYeJiaSource\PictureHead\</param-value>
  </context-param>
  <context-param>
    <param-name>uploadPictureUrlVir</param-name>
    <param-value>/ChuangYeJia/uploadHead/</param-value>
  </context-param>
  <context-param>
    <param-name>uploadPictureUrlDef</param-name>
    <param-value>/ChuangYeJia/assets/img/defaultImg/head.png</param-value>
  </context-param>
  <context-param>
    <param-name>defaultLogo</param-name>
    <param-value>/ChuangYeJia/assets/img/logo.png</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:beans.xml</param-value>
  </context-param>
  <filter>
    <filter-name>checkUserLogin</filter-name>
    <filter-class>com.chuangyejia.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkUserLogin</filter-name>
    <url-pattern>/pages/userConsole/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>recordVisitFilter</filter-name>
    <filter-class>com.chuangyejia.filter.RecordVisitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>recordVisitFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    <init-param>
      <param-name>struts.i18n.encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>